/* Thematic does ie css in a strange way. You use selectors for it, not specific css file */

body.ie7 .entry-content h3 {
  display: inline;
  clear: none;
  width: auto;
}
body.ie7 .entry-content p {
  clear: none;
  width: auto;
}

body.ie7 .entry-content .column-odd {
  margin-right: 5%;
}

/* Menu Fix for ie7 etc where 5th item ran on two lines */
/* HARDCODED: Will need updating when menu changed */
#menu-our-treatments li#menu-item-139 {
  clear: left;
}

/* IE7 has no box shadow */
body.ie6 ul.mainstage-teasers li,
body.ie8 ul.mainstage-teasers li,
body.ie7 ul.mainstage-teasers li {
  /* border: 1px solid #DDD; */
}
body.ie6 ul.mainstage-teasers li .inner-wrapper,
body.ie8 ul.mainstage-teasers li .inner-wrapper,
body.ie7 ul.mainstage-teasers li .inner-wrapper {
  overflow: hidden;
  border: 10px solid #FFF;
}
body.ie6 .entry-content img.framed-image,
body.ie8 .entry-content img.framed-image,
body.ie7 .entry-content img.framed-image {
  border: 6px solid #EEE;
}

/* IE7 cannot display plus one */
body.ie7 #plusone-wrapper {
  display: none;
}