
/* Background image of the sky */

#additional-background {
  overflow: hidden;
  background: url(../images/sky.jpg) 50% 0 repeat-x;
}
#additional-background.no-mainstage {
  background: none;
}

/* =Header
-------------------------------------------------------------- */

#header {
  z-index: 10;
  background: url(../images/sky.jpg) 50% 0 repeat-x;
}
#branding {
  height: 105px;
  padding: 10px 0 0 0;
  position: relative;
}
#strapline {
  color: #fff;
  text-indent: -9999px;
  width: 230px;
  height: 30px;
  overflow: hidden;
  background: url(../images/strapline.png) 0 0 no-repeat;
  /* bottom: 10px;
  right: 10px;
  position: absolute; */
  float: right;
  margin-top: 60px;
}
#site-title {
  float: left;
  overflow: hidden;
  margin: 0 0 5px 0;
  padding: 0;
  width: 250px;
}
#site-title a {
  text-decoration: none;
  display: block;
  width: 231px;
  height: 100px;
  overflow: hidden;
  text-indent: -1000px;
  background: url(../images/logo.png) 0 top no-repeat;
}
#site-title a:hover {
  background: url(../images/logo.png) 0 bottom no-repeat;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
}

#header .widget_search {
  margin: 0 auto;
  width: 940px;
  position: relative;
}
#header .widget_search h3 {
  display: none;
}
#header .widget_search form {
  width: 330px;
  overflow: hidden;
  padding: 10px 20px 12px 20px;
  position: absolute;
  right: 0;
  background-color: #000;
  background-color: rgba(0,0,0,0.2);
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}
#header .widget_search form input {
  font-size: 13px;
  line-height: 14px;
  margin: 0;
  float: left;
}
#header .widget_search form input#s {
  width: 230px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	background-color: #f1f1f1;
	border: 1px solid #cacaca;
	color: #666;
	padding: 5px 7px;
	margin-right: 10px;
}
#header .widget_search form input#searchsubmit {
  font-family: Arial, sans-serif;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	background-color: #222;
	background: -moz-linear-gradient(top, #333, #222);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #333), color-stop(1.0, #222));
	border: 1px solid #333;
	color: #FFF;
	font-weight: normal;
	padding: 5px 7px;
	line-height: 16px;
}
#header .widget_search form input#searchsubmit:hover {
  background-color: #333;
	background: -moz-linear-gradient(top, #444, #333);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #444), color-stop(1.0, #333));
	border: 1px solid #444;
	cursor: pointer;
}

/* =Menu
-------------------------------------------------------------- */

.skip-link {
  display: none;
}
#access {
  height: 37px;
  font-size: 14px;
  line-height: 32px;
  overflow: visible;
  z-index: 100;
  margin-left: -20px;
  font-weight: normal;
}
#access li a:first-letter {
}
#access .sub-menu {
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  line-height: normal;
  font-size: 12px;
  font-weight: normal;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu {
  line-height: 1.0;
}
.sf-menu ul {
  position:   absolute;
  top: -999em;
  width: 10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
  width: 100%;
}
.sf-menu li:hover {
  visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
  float: left;
  position: relative;
}
.sf-menu a {
  display: block;
  position: relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0;
  top: 2.5em; /* match top ul list item height */
  z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 10em; /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 10em; /* match ul width */
  top: 0;
}
/*** THEMATIC SKIN ***/
.sf-menu {
  float:left;
}
.ie6 .sf-menu {
  margin-bottom: -1px;
}
.sf-menu a {
  padding:9px 13px;
  text-decoration:none;
}
.windows .sf-menu a {
  font-size: 12px;
  padding:9px 13px 10px;
}
.sf-menu .current_page_item a,
.sf-menu .current_page_ancestor a,
.sf-menu .current_page_parent a {
    border-bottom-color:#fff;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
  /* color: #02333c; */
  color: #fff;
}
.sf-menu li {
  height: 32px;
}
.sf-menu li li {
}
.sf-menu li li li {
}
.sf-menu li:hover a, .sf-menu li.sfHover a,
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    color: #fff;
    background: #000;
    outline:  0;
    border-bottom-color:#fff;
}
.sf-menu ul {
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  top:31px; /* overriding essential styles */
}
.sf-menu ul ul {
    margin-top:0;
}
.sf-menu ul a {
  background:#000;
}
.sf-menu ul a:hover {
    color: #62fcfc;
}
#access .current-menu-ancestor,
#access .current-menu-item {
  padding-bottom: 5px;
  background: url(../images/pointy.png) 50% bottom no-repeat;
}
#access .current-menu-ancestor .current_page_item,
body.home #access .current-menu-ancestor,
body.home #access .current-menu-item {
  background-image: none;
  padding-bottom: 0;
}
#access .current-menu-ancestor .current_page_item a {
  background-color: #222;
  color: #62fcfc;
}

/* Contextual menu */
#access .current-menu-ancestor .sub-menu,
#access .current-menu-item .sub-menu {
  /* display: none!important; */
}
.menu-our-treatments-container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.widget_nav_menu {
  clear: both;
  width: 100%;
  background-color: #f1f1f1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #444;
  margin: 0;
  padding: 0;
}
#menu-our-treatments {
  overflow: hidden;
  width: 940px;
  margin: 0 auto;
  padding: 5px 0;
}
#menu-our-treatments a {
  color: #444;
  text-decoration: none;
  background: url(../images/bullet.png) 5px 50% no-repeat;
  padding: 0 10px 1px 25px;
  margin: 1px 10px 1px 0;
  line-height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: left;
}
#menu-our-treatments a:hover {
  background: url(../images/bullet_gray.png) 5px 50% no-repeat #333;
  color: #62fcfc;
}
#menu-our-treatments .current-menu-ancestor a,
#menu-our-treatments .current-menu-item a {
  background: url(../images/bullet.png) 5px 50% no-repeat #ccc;
  color: #666;
}
#menu-our-treatments li {
  font-size: 0.83em;
  font-style: italic;
  /* font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif; */
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Fix for ie7 etc where 5th item ran on two lines */
/* HARDCODED: Will need updating when menu changed */
#menu-our-treatments li#menu-item-138 {
  clear: left;
}

/* Our treatment entry styles */
.entry-content h3,
.entry-content h2 {
  display: inline-block;
}
.entry-content p.float-wrapper {
  display: inline;
  margin: 0;
  padding: 0;
}
.entry-content p.float-wrapper img {
  display: block;
}
.entry-content .framed-image {
  margin: 5px;
  border: 6px solid #fff;
  webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}
.entry-content .alignright {
  float: right;
  margin-left: 25px;
}
.entry-content .alignleft {
  float: left;
  margin-right: 20px;
}
.entry-content .framed-image {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  margin-right: 15px;
}
.entry-content img.framed-image-tilt-left {
  -webkit-transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  margin-left: 20px;
}