/* IE7 has no box shadow */
body.safari .entry-content img.framed-image,
body.safari .entry-content img.framed-image,
body.safari .entry-content img.framed-image {
  border: 6px solid #EEE;
}
body.safari ul.mainstage-teasers li .inner-wrapper {
  border: 9px solid #fff;
}
body.safari ul.mainstage-teasers li .outer-wrapper {
  border: 1px solid #ccc;
}