/* =Mainstage
-------------------------------------------------------------- */
#mainstage {
  clear: both;
  margin: 0 auto 0 auto;
  width: 940px;
  z-index: 1;
}
#mainstage .mainstage-inner {
  margin-left: -20px;
}
ul.mainstage-teasers h2 {
  font-size: 2em;
  font-weight: bold;
}
ul.mainstage-teasers {
  margin: 0;
  padding: 0;
  position: relative;
  width: 940px;
}
ul.mainstage-teasers li {
  margin: 0;
  padding: 0 5px 5px 5px;
  width: 930px;
  overflow: hidden;
  list-style-type: none;
  list-style-image: none;
}
ul.mainstage-teasers li .inner-wrapper {
  width: 910px;
  overflow: hidden;
  background: #fff;
  border: 10px solid #fff;
  webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  position: relative;
}
ul.mainstage-teasers li .text-content a {
  color: #666;
  text-decoration: none;
}
ul.mainstage-teasers li .text-content a:hover {
  background-color: #000;
  color: #fff;
}

ul.mainstage-teasers li .text-content {
  float: left;
  width: 50%;
  margin-left: 20px;
  bottom: 10px;
  position: absolute;
  z-index: 2;
}
ul.mainstage-teasers li .image img {
  float: right;
  position: relative;
  z-index: 1;
}
ul.mainstage-teasers-multiple {
  position: relative;
}
ul.mainstage-teasers-multiple li {
  display: none;
}
ul.mainstage-teasers-multiple li.mainstage-teaser-0 {
  display: block;
}
.bx-next {
	right:-6px;
	background: url(../images/carousel_next.png) no-repeat 0 -30px;
}

/*previous button*/
.bx-prev {
	left:-6px;
	background: url(../images/carousel_prev.png) no-repeat 0 -30px;
}

.bx-next,
.bx-prev {
  top:43%;
  /* for IE */
  filter:alpha(opacity=80);
  /* CSS3 standard */
  opacity:0.8;
}


/* =Columns
-------------------------------------------------------------- */

.entry-content .column {
  overflow: hidden;
}

.entry-content .column {
  float: left;
  width: 47%;
  margin-right: 6%;
}
.entry-content .column p {
  font-size: 0.95em; 
}
.entry-content .column .image {
  float: left;
  display: inline;
}
.entry-content .column-odd {
  clear: both;
}
.entry-content .column-even {
  margin-right: 0;
}

/* =Call us widget
-------------------------------------------------------------- */
#text-3 {
	text-align: center;
	background: url(../images/telephone.png) 35% 0 no-repeat;
	padding: 100px 0 0 0;
	overflow: hidden;
}
#text-3 h3 {
	font-weight: normal;
	font-size: 1em;
	font-family: Georgia, "Bitstream Charter", serif;
	margin-bottom: 5px;
}
#text-3 .tel {
	font-size: 2em;
	line-height: normal;
}
#text-3 .email {
	font-size: 0.8em;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	letter-spacing: 0.01em;
}
#text-3 p {
	margin: 0 0 5px 0;
	padding: 0;
}
#text-3 a {
	color: #333;
	text-decoration: none;
}
#text-3 a:hover {
	color: #0066cc;
}

/* =Page footer
-------------------------------------------------------------- */
#page-footer-wrapper {
  clear: both;
  border-top:1px solid #ccc;
  overflow: hidden;
}
#page-footer {
  border-top:1px solid #fff;
  border-bottom:1px solid #ccc;
  background: #f1f1f1;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 0.9em;
  color: #444;
}
#page-footer h2 {
  color: #222;
  font-style: italic;
  display: none;
}
#page-footer h3 {
  margin-top: 20px;
  font-weight: normal;
}
#page-footer ul.xoxo {
  margin: 0 auto;
  padding: 0;
  width: 960px;
}
#page-footer ul.xoxo li {
  list-style: none;
  margin: 0 0 0 5% ;
  padding: 0;  
  width: 23%;
  float: left;
}
#page-footer ul.xoxo li#text-2 {
  width: 28%;
}
#page-footer ul.xoxo li#text-4 {
  width: 26%;
  margin: 0;
  float: right;
}
#page-footer #pronamic_google_maps-2 {
  width: 389px;
  margin: 0;
}
#pronamic_google_maps-2 .pgm {
  border: 1px solid #ccc;
  width: 385px;
}